<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="log4net"
         type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

  </configSections>
  <connectionStrings>
    <add name="Prova.SysContrato.Properties.Settings.SysContratoConnectionString" connectionString="Data Source=JCARVALHOJR\SQLEXPRESS;Initial Catalog=SysContrato;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- This section contains the log4net configuration settings -->
  <log4net debug="False">

    <!-- Define some output appenders -->
    <appender name="" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} [%t] %method %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <file type="log4net.Util.PatternString" value="C:\\Prova.SysContrato\\Prova.SysContrato\\Log\\%date{ddMMyyyy}\\ " />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <MaxSizeRollBackups value = "3" />
      <preserveLogFileNameExtension value="true"/>
      <datePattern value="dd.MM.yyyy-HH'.log'" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %method %-5p %c - %m%n" />
      </layout>
      <Filter type = " log4net.Filter.LevelRangeFilter" >
        <LevelMin value = " INFO" />
        <LevelMax value = " FATAL" />
      </Filter>

      <Filter type = " log4net.Filter.LevelRangeFilter" >
        <LevelMin value = "DEBUG" />
        <LevelMax value = "WARN" />
      </Filter>
    </appender>



    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="FileAppender" />
    </root>

    <logger name="NHibernate.SQL">
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </logger>

  </log4net>





  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>